:root {
  --primary-brand-colour: #004934;
  --secondary-brand-colour: #d8d5ce;
  --default-font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-brand-colour);
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--default-font-family);
  font-size: 100px;
  font-weight: bold;
}

h3 {
  line-height: 2;
  text-align: center;
}
p {
  color: var(--primary-brand-colour);
  text-align: center;
}

img {
  width: 400px;
  margin-top: 90px;
  padding: 30px;
  border-radius: 4px;
}
.hero {
  text-align: center;
  padding: 80px 60px 20px;
}

.project-description {
  text-align: center;
}

.btn-branding {
  background: var(--secondary-brand-colour);
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 18px;
}

.learn-more {
  background: var(--primary-brand-colour);
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 18px;
}

.content h1 {
  font-family: var(--default-font-family);
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  padding: 80px 60px 20px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 44px;
  font-weight: bold;
  text-align: left;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content p {
  text-align: left;
  font-size: 14px;
}
.content-container {
  padding: 30px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 66px;
  }
}
